<style>
  form {
text-align: center;
}
</style>
<form action="/number-of-days" method="post" >
  <!DOCTYPE html>
<html>
<head>

</head>
<body>
  <style>
    div {
      background-color: #1c87c9;
      color: #f4f6f9;
      padding: 22px;
    }

</style>
<div>
  <h1 style="text-align:center">Hello there!</h1>
  <h2 style="text-align:center">What's your name?</h2>
    <input type="text" name="name" />
  <h2 style="text-align:center">When is your birthday?</h2>
  <h3>day:<select></h3>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
</select>
<h3>month:<select></h3>
  <option value="1">January</option>
  <option value="2">February</option>
  </select>
<p>
</p>
<input type="submit" value="Calculate!" />
</div>
</body>
</html>
</form>
